<a href="https://colab.research.google.com/github/DeepakKumarSingh003/Pandas-Tutorial-End-To-End-Know_it-Code_id-Learn_it-/blob/main/Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**What is Panda?**

![FVtpoUXglviX8j2HlWNo--1--dy4af.jpg]()

#Panda Working on Pandas.

#!!Wait We are not going to discuss about that cutiee. But What he is working on
#He might be analysing the data from jungle on pandas.

* Pandas is an open-source library that provides high-performance data manipulation in Python. 
* The name of Pandas is derived from the word Panel Data,
* Panel data, sometimes referred to as longitudinal data, is data that contains observations about different cross sections across time. Examples of groups that may make up panel data series include countries, firms, individuals, or demographic groups.

* Data analysis requires lots of processing, such as restructuring, cleaning or merging, etc. There are different tools are available for fast data processing, such as Numpy, Scipy, Cython, and Panda. But we prefer Pandas because working with Pandas is fast, simple and more expressive than other tools.

* Pandas is built on top of the Numpy package

* It can perform five significant steps required for processing and analysis of data irrespective of the origin of the data, i.e., load, manipulate, prepare, model, and analyze.

#Key Features of Pandas
* It has a fast and efficient DataFrame object with the default and customized indexing.
* Used for reshaping and pivoting of the data sets.
* Group by data for aggregations and transformations.
* It is used for data alignment and integration of the missing data.
* Provide the functionality of Time Series.
* Process a variety of data sets in different formats like matrix data, tabular heterogeneous, time series.
* Handle multiple operations of the data sets such as subsetting, slicing, filtering, groupBy, re-ordering, and re-shaping.
* It integrates with the other libraries such as SciPy, and scikit-learn.
Provides fast performance, and If you want to speed it, even more, you can use the Cython.

#Benefits of Pandas
* Data Representation: It represents the data in a form that is suited for data analysis through its DataFrame and Series.

* Clear code: The clear API of the Pandas allows you to focus on the core part of the code. So, it provides clear and concise code for the user.

#Python Pandas Data Structure
* The Pandas provides three data structures for processing the data, i.e., Series , DataFrame and panel.
* The most used of these are Series and DataFrame data structures. 
  * Series is one dimensional, that is, it consists of a column.
  *  Data frame is two-dimensional, i.e. it consists of rows and columns.

* When working with tabular data, such as data stored in spreadsheets or databases, pandas is the right tool for you. pandas will help you to explore, clean, and process your data. 

![image.png]()

#Install Pandas 
* If you are using Colab Notebook than it is a peice of cake for you
Just>>>>>>>

In [ ]:
#>>
import pandas as pd
import numpy as np

* **pd is the nick name given to pandas as we have to call it several times**
* **Also it is a Good Practise to have his Big Brother Numpy  as np we will discuss later about it.**

In [ ]:
#Check the Version 
print('Pandas_Version:-',pd.__version__)
print('Numpy_Version:-',np.__version__)

print("Cool we are Good To Go............")

Pandas_Version:- 1.3.5
Numpy_Version:- 1.21.6
Cool we are Good To Go............

#Pandas Data Structures

**1.Pandas Data Structures**
* a.Series
  * i.  Create Empty series. 
  * ii. Creating a Series with list.
  * iii. Understand labels in series.
       * Indexing and Selecting Data in Series
       * ceating label
  * iv. Accessing element of Series
  * iv.  Create series with Dictionary.
   
* b.DataFrame
   * i. Create empty DataFrame
   * ii. Creating a dataframe using List:
       * DataFrame with single list
       * DataFrame with list of lists.
   * iii. Creating dataframe using Dictionary
        * With the index argument, you can name your own indexes.

In [ ]:
# Create empty DataFrame
emp_df=pd.DataFrame()
print(emp_df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
# creating series with list. Self indexing here
list1=['I','Love','Python','because','of','pandas','as','its','library']

myseriesl1=pd.Series(list1)
print(myseriesl1)

0          I
1       Love
2     Python
3    because
4         of
5     pandas
6         as
7        its
8    library
dtype: object

  * **We can see the indexs from 0 to 8 total 9 elements**

In [ ]:
#Accessing Element Using self Label (index) 
print(myseriesl1[:5]) #Give me first 5 elements only.
print("*"*30)
#Give me 3rd element only
print("3rd element from series:",myseriesl1[2])  

#You might be thinking why 2 when need third element as in python indexing start from 0. So count 0th element as 1.

0          I
1       Love
2     Python
3    because
4         of
dtype: object
******************************
3rd element from series: Python

* **But then you might say "I dont like this indexing from 0"**
* No Worries we have a solution.......

In [ ]:
#.....Create user defined index in Series
#Createing index 
myseries=pd.Series(list1,index=[1,2,3,4,5,6,7,8,9])
print(myseries)

1          I
2       Love
3     Python
4    because
5         of
6     pandas
7         as
8        its
9    library
dtype: object

* **It is fine now**

In [ ]:
# Check out index manually and its type.
myseries.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [ ]:
#Now calling 3rd element
print("3rd element from series:-",myseries[3])

3rd element from series:- Python

**Create pandas series with a dictionary**

In [ ]:
# Create a simple Pandas Series from a dictionary:
dict1={ 'Python':1990, 'Visual Basic':1991 ,'R':1993 , 'Ruby':1995,'Java':1995, 'JavaScript':1995, 'PHP':1995}
myseries_dict=pd.Series(dict1)
print(myseries_dict)
#Give me 5th element of series
print('5th element:-',myseries_dict['Python'])

Python          1990
Visual Basic    1991
R               1993
Ruby            1995
Java            1995
JavaScript      1995
PHP             1995
dtype: int64
5th element:- 1990

      While using dictionary to create series then Key becomes your index and value become element.

In [ ]:
#Operation on Series
myseries_dict[myseries_dict<=1993] #Give me those elements from Series which are less than 1993

Python          1990
Visual Basic    1991
R               1993
dtype: int64

In [ ]:
#Update element
myseries_dict['Python']=None
myseries_dict

Python             NaN
Visual Basic    1991.0
R               1993.0
Ruby            1995.0
Java            1995.0
JavaScript      1995.0
PHP             1995.0
dtype: float64

In [ ]:
#Check is there any null value in the series
myseries_dict.isnull()

Python           True
Visual Basic    False
R               False
Ruby            False
Java            False
JavaScript      False
PHP             False
dtype: bool

#DataFrame
* b.DataFrame
   * i. Create empty DataFrame
   * ii. Creating a dataframe using List:
       * DataFrame with single list
       * DataFrame with list of lists.
   * iii. Creating dataframe using Dictionary
        * With the index argument, you can name your own indexes.

**Create Empty DataFrame**

In [ ]:
#Creating Empty DataFrame
my_df=pd.DataFrame()
my_df

Empty DataFrame
Columns: []
Index: []

**Create DataFrame Using list**

In [ ]:
# Creating a dataframe using List
#List1
list1=["MAE","MSE","RMSE","R2","Adjusted_R2"]
my_dfl1=pd.DataFrame(list1)
print(my_dfl1)

             0
0          MAE
1          MSE
2         RMSE
3           R2
4  Adjusted_R2

     It look like a pandas Series is't it.

In [ ]:
#Lets check the type
print(type(my_df))

<class 'pandas.core.frame.DataFrame'>

    It looks like a Series but it is a DataFrame as we have used keyword DataFrame to Creat

**Create DataFrame using Nested List**

In [ ]:
#List of List
nested_list=[["MAE","Mean Absolute Error"],["MSE","Mean Square Error"],["RMSE","Root Mean Square Error"],["R2","Coefficient Of Determination"]]

#Create dataFrame with list of list
my_df2=pd.DataFrame(nested_list)
print(my_df2)

      0                             1
0   MAE           Mean Absolute Error
1   MSE             Mean Square Error
2  RMSE        Root Mean Square Error
3    R2  Coefficient Of Determination

    Do you need column names as Evaluation Matrix and Full Form? Let Do that!

In [ ]:
# Columns with name and dataframe with list of list
my_df3=pd.DataFrame(nested_list,columns=["Name","Full_Form"]) #Using Columns we can assign names of columns
print(my_df3)

# initialize list of lists
data = [['DS', 'Linked_list', 10], ['DS', 'Stack', 9], ['DS', 'Queue', 7],
        ['Algo', 'Greedy', 8], ['Algo', 'DP', 6], ['Algo', 'BackTrack', 5], ]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Category', 'Name', 'Marks'],index=['#1',"#2","#3","#4","#5",'#6'])
 
# print dataframe.
print(df )

**Create DataFrame with list of Dictionary**

In [ ]:
#DataFrame from list of dictionary
my_list_dict=pd.DataFrame([
    {'Score': 250, 'place': 'Mumbai'},
    {'Score': 180, 'place': 'Ahemedabad'},
    {'Score': 230, 'place': 'Rajkot'},
])
my_list_dict

   Score       place
0    250      Mumbai
1    180  Ahemedabad
2    230      Rajkot

**Create DataFrame with list of tuples**

In [ ]:
list_of_tup=[(n,n**2,n**3) for n in range(1,10)]
list_of_tup
my_lot_df=pd.DataFrame(list_of_tup,columns=['Num','Square','Cube'])
my_lot_df

   Num  Square  Cube
0    1       1     1
1    2       4     8
2    3       9    27
3    4      16    64
4    5      25   125
5    6      36   216
6    7      49   343
7    8      64   512
8    9      81   729

**Create DataFrame from pandas Series as value of dictionary**

In [ ]:
# Store the data in a dictionary
series_dict = {'First Series' : pd.Series([10, 20, 30, 40]), 
              'Second Series' : pd.Series([10, 20, 30, 40])} 
  
# Create the Dataframe using the dictionary
df = pd.DataFrame(series_dict) 
  
# Print the dataframe
df

**Create DataFrame from Numpy Array**

In [ ]:
my_np_df=pd.DataFrame(np.array([[1,1,1],[2,4,8],[3,9,27]]),columns=['Num','Square','Cube'])
my_np_df

   Num  Square  Cube
0    1       1     1
1    2       4     8
2    3       9    27

###**So we have seen a variety of ways in which we can create simple dataframes.** 
###**Now let us explore few methods and attributes associated with the pandas dataframes in Python**